.slidertext{
    color: #ffffff;
    text-align: center;
    vertical-align: text-bottom;
    position: relative;
    top: 50%;
    transform: translateY(-45%);
    background-color: #3a659600;
    letter-spacing: 1px;
    padding: 0px 10px;
    z-index: 2;
}

h1{
    color: #fff;
    border-bottom: 3px solid #8abf00;
    font-family: inherit;
    display: inline-block;
    padding: 3px 3px 10px 3px!important;
    
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.fade_h1{
  animation: bounceIn 1s;
}
.fade_text_slider{
    animation: bounceIn 2s;
    font-family: inherit;
    font-weight: 100 !important;
}
.contactbtn{
  position: relative;
  z-index: 3 !important;
  cursor: pointer;
  min-width: 150px;
  border: none;
  box-shadow: 0px 0px 3px 1px #fff;
  background-color: #8abf00 !important;
}
.contactbtn:hover{
  box-shadow: none;
  transition: 0.5s;
}
@media only screen and (max-width: 600px) {
  .slidertext{
    border-right: none;
    padding: 50px 5px;
  }
}

