.slider-image{
   margin: auto; 
   width: 100% !important; 
   margin: 0px 0px;
   background-color: red;
}
.slide{
   margin-top: 20px !important;
}
.slider-main{
   position: relative;
   margin: 0px 0px !important;
   z-index: 1;
   width: 80% !important;
   
}
.videoSlider{
    height: 100%;
    width: 100%;
}
.videoBox{
   background-color: #071041e0;
   height: 100%;
   position: relative;
}