.sectionthree {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  padding: 20px 10px 70px 10px;
  position: relative;
  z-index: 1;
  height: auto;
}
.imagesPortfolio{
  width: 100%;
  transition: 0.5s;
}
.imagesPortfolio:hover{
  position: relative;
  left: 5px;
  bottom: 5px;
  transition: 1s !important;
}
#about {
  position: relative;
  z-index: 3;
}
.threeleft {
  width: 23%;
  height: auto;
}
.threeright {
  width: 70%;
  height: auto;
}
.about-header {
  padding: 70px 10px 0px 10px;
}
.full-width {
  position: relative;
  z-index: 999;
  background-color: #ffffff00;
}
@media only screen and (max-width: 600px) {
  .threeleft {
    width: 100%;
  }
  .threeright {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .threeleft button {
    width: 90%;
    margin-left: 5%;
  }
  .threeleft {
    width: 30%;
  }
}
