.contact-form{
   padding: 70px 10px 70px 10px;
   width: 80%;
   position: relative;
   z-index: 2;
   /* background-color: #3a6596 !important; */
   
}
.contact-form input{
    border-radius: 0px;
    border: none;
    background-color: #3a659600;
    border: 1px solid #8abf00;
}
.contact-form textarea{
    border: none;
    border: 1px solid #8abf00;
    border-radius: 0px;
    /* background-color: #003366; */
    background-color: #3a659600;
}
.contact-section{
    width: 100%;
    position: relative;
    z-index: 999;
    background-color: #fff;
    margin-bottom: 0px !important;
    background-image: url(../images/contact/home_clinic_counters_bg.jpg);
}
#contact{
    /* background-color: #003366 !important; */
    background-color: #3a659600 !important;
    margin-bottom: 0px !important;
}
.fieldWarning{
    color: #ffcc00 !important;
    font-weight: bold;
}
.contactInfo{  
    border-radius: 10px;
    position: relative;
}
.contactInfoBox{
    border-radius: 5px;
    width: 100%;
    padding: 10px 0px;
    background-color: #3a659600;
    color: #fff;
}
.contact-btn{
    background-color: #8abf00 !important;
    border: none;
    min-width: 150px;
    font-weight: bold;
    box-shadow: 0px 0px 3px 1px #fff;
}
.contact-btn:hover{
    box-shadow: none !important;
    transition: 0.5s;  
}
.contact-form-data{
    background-color: #3a6596 !important;
    width: 100%;
    position: relative;
    z-index: 1;
}
