.sectiontwo {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0px;
  justify-content: space-around;
  background-color: #ffffff00;
  z-index: 1;
}
.sidebar-button {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.925) !important;
  background-color: #3a6596 !important;
}
.Services{
  position: relative;
  z-index: 1;
}
.imgCover{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  left: 0;
  z-index: -1;
}
.topsectwo {
  padding: 70px 10px 70px 10px;
  position: relative;
  z-index: 99;
  background-color: rgb(173, 23, 23) !important;
}
.plusMinusDes {
  background-color: #af2d42;
  font-size: 18px;
  font-weight: bold;
}
.relatedTextShow {
  min-width: 200px !important;
  background-color: rgb(245, 242, 242);
  padding: 10px 10px !important;
}
.servicesDes {
  width: 100%;
  text-decoration: none;
  background-color: #fff;
  text-decoration: none !important;
  padding: 5px;
}
a {
  text-decoration: none !important;
  font-size: 16px;
}
h2 {
  font-size: 24px !important;
  color: #af2d42 !important;
}
.twoleft {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
}
.twoleft button {
  width: 100% !important;
  align-self: center;
}
.tworight {
  width: 70%;
}
.topsectwo {
  background-color: rgb(199, 27, 27);
}
@media only screen and (max-width: 700px) {
  .twoleft {
    width: 100%;
  }
  .tworight {
    width: 100%;
  }
}
.spacer-img {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -99 !important;
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .twoleft {
    width: 100%;
  }
  .tworight {
    width: 100%;
  }
}
.spacer-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
