.sectiontwo {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0px;
  justify-content: space-around;
  background-color: #ffffff00;
  z-index: 1;
}
.sidebar-button {
  width: 100%;
  background-color: #24335b00 !important;
  border: none !important;
  color: #071041 !important;
}
.sidebar-button:focus{
  border: none !important;
  box-shadow: none !important;
}
.Services {
  position: relative;
  z-index: 1;
}
.imgCover {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #e0f0f900;
}
h2{
  border-bottom: none;
}
.topsectwo {
  padding: 70px 10px 70px 10px;
  position: relative;
  z-index: 99;
  /* background-image: url(../images/slider/Untitled-paint-new3.jpg); */
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
}
.plusMinusDes {
  border: 1px solid #071041;
  font-size: 18px;
  font-weight: bold;
  color: #8abf00 !important;
}
.relatedTextShow {
  min-width: 200px !important;
  background-color: rgb(245, 242, 242);
  padding: 10px 10px !important;
}
.servicesDes {
  width: 100%;
  text-decoration: none;
  background-color: #fff;
  text-decoration: none !important;
  padding: 5px;
}
a {
  text-decoration: none !important;
  font-size: 16px;
}
h2 {
  font-size: 24px !important;
  /* color: #af2d42 !important; */
}
.twoleft {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
}
.twoleft button {
  width: 100% !important;
  align-self: center;
}
.tworight {
  width: 70%;
}
@media only screen and (max-width: 700px) {
  .twoleft {
    width: 100%;
  }
  .tworight {
    width: 100%;
  }
}
.spacer-img {
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  bottom: 0;
  right: 0;
  z-index: -2 !important;
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .twoleft {
    width: 100%;
  }
  .tworight {
    width: 100%;
  }
}
h4 {
  font-weight: 100 !important;
}
