.introduce{
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 99;
}
.aboutPhoto{
    width: 300px;
    transform: translate(-1px);
}
.int{
    width: 60%;
    text-align: center;
    padding: 50px 0px 50px 0px;
}
.aboutTitle{
    font-size: 32px !important;
    color: #24335be5 !important;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(220, 217, 217);
}
.int p{
    font-size: 20px !important;
    font-family: 'vazir', Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 900px){
    .int{
        width: 90% !important;
    }
}


