.slider-flexbox{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    position: relative;
    padding: 0px 0px !important;
    z-index: 99;
    background-color: #3a659600;
    height: auto;
    z-index: 1;
}
.cover{
  background-color: #24335b58;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.slider-left{
    width: 60%;
    height: auto !important;
    background-image: url(../images/contact/home_clinic_counters_bg.jpg); 
    background-size: cover;
    background-position: center;
}
.slider-right{
    width: 40%;
    height: auto !important;
    position: relative;
}
.slider-right img{
    width: 100% !important;
    position: relative;
}
@media only screen and (max-width:600px){
  .slider-left{
    width: 100% !important;
    position: relative;
}  
  .slider-right{
    width: 100% !important;
  }  
}