.footer{
    bottom: 0;
    margin: 0px !important;
    z-index: 999;
    position: relative;
    background-color: rgb(230, 230, 230);
    background-color: white
}
.footer-text h5{
   color: #AF2D42;
   font-weight: bold;
}
.list-unstyled a{
    color: #003366 !important;
    display: flex;
    justify-content: space-between;
}
.list-unstyled span{
    width: 90%;
    direction: ltr !important;
    left: 0;
    
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
}
.navFooter-focus span{
    color: #AF2D42 !important;
  
}
.footerNav-link:hover{
    color: #AF2D42 !important;
}
.footerNav-link{
    line-height: 30px;
    color: #fff !important;
    color: #003366 !important;
}
.footer-title-about{
    color: #ffcc00;
}
.footer-title-about-h5{
    color: #AF2D42;
    font-weight: bold;
}
.copyright-box{
    border-top: 3px solid #AF2D42;
}
.footer p{
    font-size: 15px;
}
.footerLogo img{
    width: 40%;
    margin: auto;
}
.footerLogo{
    display: flex;
    justify-content: space-around;
}
.designer{
    border-bottom: 1px solid blue !important;
}